.wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    flex-wrap: nowrap;
    background-color: #007bff;
}

.button {
    width: 100%;
    height: 100px;
    font-size:max(5vw,5vh);
    font-weight: bold;
    background-color: #007bff;
    border : 0;
}

.badge { 
    user-select: none; 
    cursor:default;
    font-size:max(5vw,5vh);
}